/* Reset básico */
body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
:root {
  --color-primario: #2D2A3E;
  --color-secundario: #3B3654;
  --color-terciario: #F5F7FA;
  --color-morado: #4C3F91;
  --color-blanco: #ffffff;


  --color-azul: #3B82F6;
  --color-negro: #0F172A;
  --color-gris: #6B7280;

  --color-exito: #22C55E;
  --color-pendiente: #F59E0B;
}
/* Header */
.header {
  background: var(--color-morado);
  color: var(--color-blanco);
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

/* Centrado con Flexbox */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
}

/* Sección */
.task-section {
  background: var(--color-blanco);
  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 500px;
  animation: fadeIn 0.6s ease-in-out;
}

.task-section h2 {
  margin-bottom: 1.5rem;
  color:var(--color-morado);
  text-align: center;
  font-size: 1.6rem;
  border-bottom: 2px solid var(--color-blanco);
  padding-bottom: 0.5rem;
}

/* Formulario */
.form-create-task {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color:var(--color-morado);
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.7rem;
  border: 1px solid var(--color-negro);
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: var(--color-morado);
  outline: none;
  box-shadow: 0 0 6px rgba(76, 175, 80, 0.4);
}

/* Botón */
.btn-primary {
  background: var(--color-morado);
  color: var(--color-morado);
  border: none;
  padding: 0.9rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background: var(--color-morado);
  transform: translateY(-2px);
}
.btn-volver {
  display:flex ; 
  justify-content: center;
  margin-top: 15px;
  padding:0.9rem;
  background-color:var(--color-morado) ;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  transition: background 0.3s ease;
  
}

/* Animación */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Responsivo */
@media (max-width: 480px) {
  .task-section {
    padding: 1rem;
    width: 95%;
  }
}